<h1>{{person.Name}}</h1>

<p>This person lives at {{person.Address}}, {{person.State}}, {{person.Country.Name}} and speaks<span ng-repeat="language in person.Languages">&nbsp;{{language.Name}}</span></p>
